In [4]:
N = 30
with open('2023년 문화관광 데이터 분석대회(카드데이터_외국인).txt', encoding='utf-8') as myfile:
    head = [next(myfile) for x in range(N)]
print(len(head))
for l in head:
    print(l)

30
국적|가맹시|가맹구|GB3|GB2|TA_YM|DAW_CCD_R|APV_TS_DL_TM_R|VLM|USEC

독일|부산|남구|음식|한식외|202107|WHITE|휴식|28100|2

독일|울산|남구|교통|기타|202106|WHITE|활동|40000|1

일본|부산|남구|의료|치과병원|202206|WHITE|활동|20400|1

미국|광주|남구|쇼핑|기타지출|202205|WHITE|활동|25000|1

캐나다|대구|남구|쇼핑|기타쇼핑|202204|WHITE|활동|151970|1

아랍에미레이트|부산|남구|음식|음료제과|202305|RED|휴식|19200|1

미국|울산|남구|스포츠|스포츠센타/레포츠클럽|202012|RED|휴식|68000|3

프랑스|부산|남구|쇼핑|가전전자제품|202110|RED|휴식|22010|2

홍콩|울산|남구|숙박|1급2급호텔|202203|WHITE|활동|160308|2

러시아|부산|남구|음식|한식|202012|RED|활동|45000|2

오스트레일리아|광주|남구|음식|한식외|202008|WHITE|활동|34000|1

오스트레일리아|광주|남구|쇼핑|할인점/편의점|202009|WHITE|활동|108490|6

대만|부산|남구|음식|한식|202109|RED|휴식|34000|2

미국|대구|남구|체험|목욕시설|202305|RED|휴식|213000|2

미국|울산|남구|쇼핑|가전전자제품|202106|WHITE|활동|9000|1

일본|대구|남구|음식|한식외|202207|RED|휴식|31000|1

독일|울산|남구|음식|음료제과|202208|WHITE|활동|42150|4

일본|부산|남구|의료|종합병원|202101|WHITE|활동|740420|2

싱가폴|부산|남구|음식|음료제과|202104|RED|휴식|5200|1

말레이지아|울산|남구|음식|한식외|202104|RED|활동|79000|2

싱가폴|대구|남구|음식|한식|202109|WHITE|활동|66000|2

인도네시아|부산|남구|음식|한식|202112|WHITE|휴식|134940|4

미국|대구|남구|쇼핑|화장품|202209|RED|활동|79900|1

필리핀|부산|남구|숙박|그외숙박|202210|WHITE|활동|1409760|3

아랍에미레이트|울산|남구|쇼핑|할인점/편의점|202205|RED|취침|12000|1

프랑스|광주|남구|음식|한식외|202104|RED|취침|28800|3

프랑스|대구|남구|쇼핑|의류잡화|202209|RED|활동|2650|1

프랑스|부산|남구|쇼핑|기타지출|202212|RED|활동|625500|4

중국|울산|남구|숙박|1급2급호텔|202212|WHITE|휴식|417813|2

In [1]:
import pandas as pd
data=pd.read_csv('2023년 문화관광 데이터 분석대회(카드데이터_외국인).txt', sep="|")

In [3]:
data.head()

    국적 가맹시 가맹구 GB3   GB2   TA_YM DAW_CCD_R APV_TS_DL_TM_R     VLM  USEC
0   독일  부산  남구  음식   한식외  202107     WHITE             휴식   28100     2
1   독일  울산  남구  교통    기타  202106     WHITE             활동   40000     1
2   일본  부산  남구  의료  치과병원  202206     WHITE             활동   20400     1
3   미국  광주  남구  쇼핑  기타지출  202205     WHITE             활동   25000     1
4  캐나다  대구  남구  쇼핑  기타쇼핑  202204     WHITE             활동  151970     1

In [4]:
d=pd.read_csv('시구별_(최대)취급액&월_교통삭제.csv')

In [5]:
d.head()

       시구   TA_YM         VLM
0  강원 강릉시  202208  2397701491
1  강원 고성군  202208   419405185
2  강원 동해시  202306   143136345
3  강원 삼척시  202306   109318358
4  강원 속초시  202208  2995933899

In [32]:
df=data[data['GB3']!="교통"]

In [33]:
df["Full Name"] = df["가맹시"] + " " + df["가맹구"]

C:\Users\ohke7\AppData\Local\Temp\ipykernel_1164\689478388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Full Name"] = df["가맹시"] + " " + df["가맹구"]

In [48]:
set(df["Full Name"])-set(d["Full Name"])

{'인천 남구'}

In [47]:
d=df[df['TA_YM']==202306]
a=d.groupby(['Full Name']).sum()

In [39]:
a=a.drop(columns=['TA_YM','USEC'])

In [40]:
a.to_csv("202306매출.csv", encoding='cp949')

In [41]:
a

                  VLM
Full Name
강원 강릉시     1528779515
강원 고성군      392757178
강원 동해시      143136345
강원 삼척시      109318358
강원 속초시     1774428587
...               ...
충북 제천시      103120342
충북 증평군       22836241
충북 진천군      107160525
충북 청주시     1314005549
충북 충주시      267343436

[229 rows x 1 columns]

In [55]:
d=data[(data['가맹시']=='인천')&(data['가맹구']=='남구')]

In [56]:
d=d[d['TA_YM']==202306]

In [57]:
a=d.groupby(['GB3'])

In [58]:
a=a.sum()

In [19]:
a

In [59]:
a.drop(columns=['TA_YM'])

Empty DataFrame
Columns: [VLM, USEC]
Index: []

In [ ]:
pd.read_csv("버스정류장개수")